rules_version = "2";
service cloud.firestore {
  match /databases/{database}/documents {
    // user
    match /users/{uid} {
      allow get: request.auth != null && uid == request.auth.uid;
    }
    // user profile (public)
    match /public-profiles/{uid} {
      allow read;
    }
    // posts
    match /users/{uid}/posts/{docId} {
      // everyone can read post
      allow read;
      // auth user can write
      allow write: if request.auth != null && uid == request.auth.uid;
    }
    // timelines by self
    match /users/{uid}/timelines/{docId} {
      allow read: if request.auth != null && uid == request.auth.uid;
    }
  }
}
