rules_version = "2";
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/posts/{docId} {
      // everyone can read post
      allow read;
      // auth user can write
      allow write: if userId == request.auth.uid;
    }
    // timelines by self
    match /users/{userId}/timelines/{docId} {
      allow read: if userId == request.auth.uid;
    }
  }
}
