service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/posts/{image} {
      // everyone can read
      allow read;
      // auth user can write
      allow write: if userId == request.auth.uid;
    }
  }
}
